<nav class="navbar">
  <div class="brand">Solar Cooker Carbon Credits</div>
  <button class="menu-toggle" aria-label="Toggle navigation">&#9776;</button>
  <ul class="nav-links">
    <li><a href="index.html#home">Home</a></li>
    <li><a href="index.html#about">About</a></li>
    <li><a href="index.html#unsdg">UN SDG</a></li>
    <li><a href="index.html#media-coverage">Media Coverage</a></li>
    <li><a href="index.html#gallery">Gallery</a></li>
    <li><a href="index.html#contact">Contact</a></li>
  </ul>
</nav>